LOAD_ENV = true
#NODE_ENV = production
NODE_ENV = development
HOST = localhost
PORT = 8080
JWT_PRIVATE_KEY = secret

####### DB #######
V1_DB_USERNAME = postgres
V1_DB_PASSWROD = 123456
V1_DB_DATABASE = auth2
V1_DB_HOST = 127.0.0.1
V1_DB_PORT = 5432
V1_DB_DIALECT = postgres
V1_DB_LOGGING = console
####### DB #######

####### clients #######
#VISA_BASEURL = https://developer.visa.com/
#VISA_TIMEOUT = 1000
#VISA_APIKEY  = foobar
VISA_BASEURL = http://localhost:5000
VISA_TIMEOUT = 1000
VISA_APIKEY  = foobar
####### clients #######